<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #21d192;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a  href="https://www.facebook.com/aryanshah576" class="fb-ic">
              <mdb-icon fab icon="facebook" class="white-text mr-4" ></mdb-icon>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
            </a>
            <!--Instagram-->
            <a class="ins-ic" href="https://www.instagram.com/aryan.576/">
              <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Aryan shah</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can Read about Daliy News About New Technology and New Tech Gadgets
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="">MDBootstrap</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">MDWordPress</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">BrandFlow</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Home</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <mdb-icon fas icon="home" class="mr-3"></mdb-icon> Sabarmati, Ahmedabad,Gujarat
          </p>
          <p>
            <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> aryanshah576@gmail.com
          </p>
          <p>
            <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> 7600704699
          </p>
          <p>
            <mdb-icon fas icon="print" class="mr-3"></mdb-icon>07927504272
          </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text">Aryan 'S Blog</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->