<div class=" container col-lg-12 p-3 m-3">
    <div class="row">
    
    <div class="col -lg-3 m-3"*ngFor="let m of active" >
     
      <div class="card">
  
        
        <div class="view overlay">
          <img class="card-img-top" [src]="['http://localhost:5151/uploads/' + m.image]"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
       
        <div class="card-body">
  
         
          <h4 class="card-title">{{m.title}}</h4>
        

          <p class="card-text">{{m.description}}</p>
          <p class="card-text"> Date by {{m.date|date:'mediumDate'}} </p>
          
          <button type="button" [routerLink]="['/readactive',m.id]" class="btn btn-light-blue btn-md" style="background-color: black ; color:white ;">Read more</button>
  
        </div>
  
      </div> 
    </div>
    </div>
  </div>
