<h3>Admin Dashboard</h3>
<hr>

<div class="stats-cards row ft">
   
        <div class="card mdb-color lighten-2 text-center z-depth-2 view view-cascade gradient-card-header purple-gradient">
            <div class="card-body">
                <h4 class="white-text mb-0">Total Blog</h4>
                <h2 class="white-text mb-0" id="total_cases">{{count}}</h2>
            </div>
        </div>
    
    
        <div class="card mdb-color lighten-2 text-center z-depth-2 view view-cascade gradient-card-header blue-gradient">
            <div class="card-body">
                <h4 class="white-text mb-0">Feature BLogs</h4>
                <h2 class="white-text mb-0" id="indians">{{featurecount}}</h2>
            </div>
        </div>
    
    
   
        <div class="card mdb-color lighten-2 text-center z-depth-2 view view-cascade gradient-card-header aqua-gradient">
            <div class="card-body">
                <h4 class="white-text mb-0">Active Blogs</h4>
                <h2 class="white-text mb-0" id="foreigners">{{activecount}}</h2>
            </div>
        </div>
  
    
   
    
    
    
  </div>
